<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/template/Head.cshtml")
</head>
<body class="dark-sidenav">


    @Html.Partial("~/Views/Shared/template/Left_sidebar.cshtml")


    <div class="page-wrapper">

        @Html.Partial("~/Views/Shared/template/Top_bar.cshtml")
        <!-- Page Content-->
        <div class="page-content">
            @RenderBody()


            <footer class="footer text-center text-sm-left">
                &copy; 2020 ASN LEGAL <span class="d-none d-sm-inline-block float-right"> Version 1.0.0.1 </span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->



    @Html.Partial("~/Views/Shared/template/Main_scripts.cshtml")
</body>
</html>