@model IEnumerable<asnlegalapp.Models.Tb_Clientes>

@{
    ViewBag.Title = "Clientes_potenciales";
}



<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Clientes</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">CRM</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Clientes</a></li>
                            <li class="breadcrumb-item active">Potenciales</li>
                        </ol>
                    </div><!--end col-->
                    @*<div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                            </a>

                        </div>end col*@

                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h5 class="mt-0 font-14">Listado de clientes potenciales. <span class="badge badge-blue">@Model.Count()</span></h5>
                </li>
            </ul>
        </div><!--end col-->

        <div class="col-lg-6 text-right">
            <div class="text-right">
 
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table mb-0">

                            <thead>
                                <tr>
                                    <th scope="col">Nombre de contacto</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">No. de telefono</th>
                                    <th scope="col">DUI</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col" class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var cliente in Model)
                                        {

                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        @*<img src="assets/images/users/user-2.jpg" height="40" class="mr-3 align-self-center rounded" alt="...">*@
                                                        <div class="media-body align-self-center">
                                                            <h6 class="m-0">@cliente.Nombre @cliente.Apellido</h6>
                                                            <p class="mb-0 text-muted font-11">@cliente.Empresa</p>
                                                        </div><!--end media body-->
                                                    </div>
                                                </td>
                                                <td><i class="dripicons-location mr-2 text-dark"></i>@cliente.Direccion</td>
                                                <td><i class="dripicons-phone mr-2 text-dark"></i>@cliente.Telefono</td>
                                                <td><i class="dripicons-user-id mr-2 text-dark"></i>@cliente.DUI</td>
                                                <td><i class="dripicons-mail mr-2 text-dark"></i>@cliente.Correo</td>
                                                <td class="text-right">

                                                    <a href="@Url.Action("Editar","Clientes", new { id=cliente.ID_cliente})"><i class="las la-pen text-secondary font-18"></i></a>
                                                    @if (cliente.Tb_Cotizaciones.Count > 0)
                                                    {
                                                             <a href="#"  onclick="alertaeliminar(@cliente.ID_cliente)"><i class="las la-trash-alt text-danger font-18"></i></a>
                                                    }
                                                    else {
                                                     
                                                         <a href="#"  onclick="eliminar(@cliente.ID_cliente)"><i class="las la-trash-alt text-danger font-18"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    }
                                }


                            </tbody>
                        </table><!--end /table-->
                    </div><!--end /tableresponsive-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

    </div><!--end row-->

</div><!-- container -->

<script>

    window.onload = function () {
        //$(document).ready(function () {
        //    $('#tbUsuarios').DataTable({
        //        dom: 'Bfrtip',
        //        select: true,
        //        language: {
        //            search: "Buscar:",
        //            paginate: {
        //                first: "Primero",
        //                previous: "Anterior",
        //                next: "Siguiente",
        //                last: "Ultimo"
        //            },
        //            lengthMenu: "Mostrando _MENU_ registros",
        //            info: "Mostrando _START_ de _END_ de un total de _TOTAL_ registros",
        //            infoFiltered: "(Mostrando registros filtrados de un maximo de _MAX_ registros)",
        //            infoEmpty: "Mostrando 0 registros de un total de  0 registros",
        //            emptyTable: "No hay registros para mostrar",
        //        }
        //    });
        //});

    }

        function eliminar(id) {

            swal({
                title: 'Estas seguro de eliminar este cliente?',
                text: "Se perderan todos los datos relacionados.",
                icon: 'warning',
                button: "Confirmar"
            }).then((result) => {
                if (result) {

                    var iddel = id;

        var url = '@Url.Action("DeleteConfirmedPotenciales", "Clientes", new { id = "START" })';


                    url = url.replace('START', iddel);

                    var newurl = url;

        newurl = newurl.replace(/&amp;/g, "&");
        window.location.href = newurl;
                }
            })

    }

    function alertaeliminar(id) {

        swal({
            title: 'Cliente asignado a cotizacion',
            text: "No puedes eliminar este cliente debido a que esta relacionado con una cotizacion.",
            icon: 'info',
            button: false

        });

    }
</script>