@model List<asnlegalapp.Models.Tb_Proyectos>
@{
    ViewBag.Title = "Proyectos_activos";
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Proyectos</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">CRM</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Proyectos</a></li>
                            <li class="breadcrumb-item active">Activos</li>
                        </ol>
                    </div><!--end col-->
                    @*<div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                        </a>

                    </div>end col*@
                    <div class="col-auto align-self-center">
                        <ul class="nav nav-pills mb-0 d-inline-flex" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-list-tab" data-toggle="pill" href="#List_style" role="tab" aria-controls="pills-list" aria-selected="true">
                                    <i class="las la-list-ul"></i>
                                </a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link " id="pills-grid-tab" data-toggle="pill" href="#Grid_Style" role="tab" aria-controls="pills-grid" aria-selected="false">
                                    <i class="las la-border-all"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h5 class="mt-0 font-14">Listado de proyectos activos. <span class="badge badge-blue">@Model.Count()</span></h5>
                </li>
            </ul>
        </div><!--end col-->

        <div class="col-lg-6 text-right">
            <div class="text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="@Url.Action("Nuevo","Proyectos")" class="btn  btn-success">
                            <i class="las la-plus"></i> Agregar nuevo
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-12">
            <div class="tab-content">
                <div class="tab-pane fade " id="Grid_Style" role="tabpanel" aria-labelledby="pills-grid-tab">

                    <div class="row">

                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                                            <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                      
                                                <a class="dropdown-item" href="@Url.Action("Editar","Proyectos", new { id=item.ID_proyecto})">Editar</a> 
                                                <a class="dropdown-item" href="#"  onclick="eliminar(@item.ID_proyecto)">Eliminar</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="~/Content/assets/images/users/user-4.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-warning"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">@item.Nombre</h4>
                                            <p class="text-muted font-12 mb-0">Tipo: @item.Tipo</p>                                            
                                        </div>                                                                           
                                    </div>                
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">@item.Tb_Clientes.Nombre @item.Tb_Clientes.Apellido</h4>
                                    <p class="text-muted mb-0">Cliente</p>
                                    <div class="mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="~/Content/assets/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-xs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="~/Content/assets/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="~/Content/assets/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="~/Content/assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xs">
                                            </a>

                                        </div>  
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">Ver Detalles <i class="mdi mdi-arrow-right"></i></button>
                                        </div> 
                                    </div>                                     
                                   <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                     
                                        <div class="media-body  align-self-center">
                                            <h4 class="team-leader m-0">Tareas</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">0/0</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">0% Completado</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>     
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                                }
                            }
                            else
                            {
                                <label>No hay registros para mostrar</label>
                            }
                        }
                        else
                        {
                            <label>No hay registros para mostrar</label>
                        }
                    </div><!--end row-->
                </div><!--end tab-pene-->
                <div class="tab-pane fade show active" id="List_style" role="tabpanel" aria-labelledby="pills-list-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive-sm">
                                        <table class="table mb-0">

                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Tipo</th>
                                                    <th scope="col">Cliente</th>
                                                    <th scope="col">Prioridad</th>
                                                    <th scope="col">Fecha creacion</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col" class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.Count() > 0)
                                                    {
                                                        foreach (var item in Model)
                                                        {

                                                            <tr>
                                                                <td>@("PR0" + item.ID_proyecto + "-" + item.Fecha_creacion.Year)</td>
                                                                <td>
                                                                    <div class="media">

                                                                        <div class="media-body align-self-center">
                                                                            <h6 class="m-0">@item.Nombre</h6>
                                                                            <p class="mb-0 text-muted font-11">@item.Descripcion</p>
                                                                        </div><!--end media body-->
                                                                    </div>
                                                                </td>
                                                                <td>@item.Tipo</td>
                                                                <td><i class="dripicons-user mr-2 text-dark"></i>@item.Tb_Clientes.Nombre @item.Tb_Clientes.Apellido</td>
                                                                <td>
                                                                    <span class="badge badge-info">@item.Prioridad</span>

                                                                </td>
                                                                <td>@item.Fecha_creacion.ToShortDateString()</td>
                                                                <td>@item.Estado</td>
                                                                <td class="text-right">
                                                                    <a href="@Url.Action("Editar","Proyectos", new { id=item.ID_proyecto})"><i class="las la-external-link-alt text-primary font-18"></i></a>


                                                                    <a href="#" onclick="eliminar(@item.ID_proyecto)"><i class="las la-trash-alt text-danger font-18"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }


                                            </tbody>
                                        </table><!--end /table-->
                                    </div><!--end /tableresponsive-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end tab-pene-->
            </div><!--end tab-content-->
        </div><!--end col-->
    </div><!--end row-->

</div><!-- container -->


<script>

    window.onload = function () {
        //$(document).ready(function () {
        //    $('#tbUsuarios').DataTable({
        //        dom: 'Bfrtip',
        //        select: true,
        //        language: {
        //            search: "Buscar:",
        //            paginate: {
        //                first: "Primero",
        //                previous: "Anterior",
        //                next: "Siguiente",
        //                last: "Ultimo"
        //            },
        //            lengthMenu: "Mostrando _MENU_ registros",
        //            info: "Mostrando _START_ de _END_ de un total de _TOTAL_ registros",
        //            infoFiltered: "(Mostrando registros filtrados de un maximo de _MAX_ registros)",
        //            infoEmpty: "Mostrando 0 registros de un total de  0 registros",
        //            emptyTable: "No hay registros para mostrar",
        //        }
        //    });
        //});

    }

        function eliminar(id) {

            swal({
                title: 'Estas seguro de eliminar este proyecto?',
                text: "Se perderan todos los datos relacionados.",
                icon: 'warning',
                button: "Confirmar"
            }).then((result) => {
                if (result) {

                    var iddel = id;

        var url = '@Url.Action("DeleteConfirmed", "Proyectos", new { id = "START" })';


                    url = url.replace('START', iddel);

                    var newurl = url;

        newurl = newurl.replace(/&amp;/g, "&");
        window.location.href = newurl;
                }
            })

        }
</script>